    <div class="footer-bar row">
      <div class="footer-bar-inner col-lg-12">
        <ul class="media-icons text-center">

          <li>

            <a href="/"><i class="fab fa-facebook"></i></a>

            <a href="/"><i class="fab fa-instagram"></i></a>
          
            <a href="/"><i class="fab fa-yelp"></i></a>
          
          </li>
          
          <li class="footer-text noselect">Follow Us!</li>
        
        </ul>
      </div>
    </div>
    <script src="/script/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>