<%- include('partials/header.ejs') %>
<div id="about-page" class = "row full-page">
  <div class="overlay"></div>
  <div id="ap-panel" class="col-lg-12 col-md-12 hp-panel">
    <div id="about-us-container" class="container">

      <h1 class="about-us-header noselect">About Us</h1>

      <p class="about-us-body noselect">Here at Infinite Tsushiyomi, we strive to provide you with the best, most authentic buffet style japanese dining 
      experience. We have many options on our menu for everyone from ramen to sushi rolls, with or without meat! We have 10+
      years of experience serving high quality fresh food and never cut corners; that is why we're the best around!
      </p>

      <h1 class="about-us-header noselect">COVID-19</h1>

      <p id="ab-us-body2" class="about-us-body noselect">We are doing the best we can to prevent the spread of COVID-19 and keep our customers as well as our employees
        safe during this difficult time. All of our employees and dine-in customers are required to wear masks, though customers may remove theirs
        once seated. We are keeping in mind best social distance practices and have made sure tables are separated from eachother. Buffet items are
        also served by our chefs from behind the buffet counter and have individual shields to protect them from airborne particles.
      </p>

    </div>
  </div>







</div>
<%- include('partials/footer.ejs') %>