<%- include('partials/header.ejs') %>

<div id="hp-section-1" class = "row full-page">
  <div class="overlay"></div>
  <div class = "row main-content-box">
    <div class = "col-lg-6 col-md-6 hp-panel-1">

      <img id="sushi-pick" class="noselect" src="/pictures/sushi-pick.png">

    </div>
    <div id="hp-s1-panel1" class = "col-lg-6 col-md-6 hp-panel-2">
      
      <h1 class="hp-fresh-text text-center primary noselect">FRESH SUSHI</h1>

      <h1 class="hp-fresh-text text-center secondary noselect">+</h1>

      <h1 class="hp-fresh-text text-center primary noselect">ALL YOU CAN EAT</h1>
      
      <a class="hp-reserve btn-lg text-center" href="/reserve">RESERVE A TABLE</a>

    </div>
  </div>
</div>
<div id="hp-section-2" class = "row full-page">
  <div class="overlay"></div>

</div>
<div id="hp-section-3" class = "row full-page">
  <div class="overlay"></div>
  <div id="hp-s3-panel1" class="col-lg-6 col-md-6 hp-panel">

    <h1 class="qorc-head text-center">Questions or Concerns?</h1>

    <p class="qorc-body text-center">If you have any questions about our restaurant or the food we serve, please do not hesitate
       to contact us using the form on the right.</p>

    <h1 class="qorc-head text-center">Location</h1>

    <p class="qorc-body text-center">6231 Main Street Stockholm NY, 10385</p>

    <p></p>

  </div>
  <div id="hp-s3-panel2" class="col-lg-6 col-md-6 hp-panel">
    <div id="hp-contact-form">
      <form action="/contact" method="POST" class="form-group">

        <label for="contact-us-firstName" class="contact-form-label">First Name</label>

        <input name="message[firstname]" type="text" placeholder="FIRST NAME" id="contact-us-firstName" class="form-control" aria-label="Contact us name field" required>

        <label for="contact-us-lastName" class="contact-form-label">Last Name</label>

        <input name="message[lastname]" type="text" placeholder="LAST NAME" id="contact-us lastName" class="form-control" aria-label="Contact us name field" required>

        <label for="contact-us-phone" class="contact-form-label">Phone Number</label>

        <input name="message[phonenumber]" type="tel" placeholder="888-888-8888" id="contact-us-phone" max-length="12" class="form-control" aria-label="Contact us phone field" required>

        <label for="contact-us-email" class="contact-form-label">Email Address</label>
        
        <input name="message[email]" type="email" placeholder="username@email.com" id="contact-us-email" class="form-control" aria-label="Contact us email field" required>

        <label for="contact-us-message" class="contact-form-label">Message</label>

        <textarea name="message[message]" class="form-control" id="contact-us-message" aria-label="Contact us message field"></textarea>
        
        <button type="submit" class="form-control btn btn-success">SEND</button>
      
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>