<%- include('partials/header.ejs') %>
<div id="hp-section-1" class = "row full-page">
  <div class="overlay"></div>
  <div class = "row main-content-box">
    <div class = "col-lg-6 col-md-6 hp-panel-1">

      <img id="sushi-pick" class="noselect" src="/pictures/sushi-pick.png">

    </div>
    <div class = "col-lg-6 col-md-6 hp-panel-2">
      
      <h1 class="hp-fresh-text text-center primary noselect">FRESH SUSHI</h1>

      <h1 class="hp-fresh-text text-center secondary noselect">+</h1>

      <h1 class="hp-fresh-text text-center primary noselect">ALL YOU CAN EAT</h1>
      
      <a class="hp-reserve btn-lg text-center" href="/">RESERVE A TABLE</a>

    </div>
  </div>
</div>
<div id="hp-section-2" class = "row full-page">
  <div class="overlay"></div>

  
</div>
<div id="hp-section-3" class = "row full-page">
  <div class="overlay"></div>

  
</div>
<%- include('partials/footer.ejs') %>