<%- include('partials/header.ejs') %>
                                                                      <!-- Section 1 Start -->
<div id="hp-section-1" class = "row full-page">

  <div class="overlay"></div>

  <div class = "row full-page">
    <div id="hp-s1-panel1" class = "col-lg-6 col-xs-6 hp-panel">
      <div id="hp-s1-img">
      
        <img id="sushi-pick" class="noselect" src="https://i.imgur.com/3vcXzlb.png">
      
      </div>
    </div>
    <div id="hp-s1-panel2" class = "col-md-6 col-xs-12 hp-panel">      
      <div id="hp-s1-text">

        <h1 class="hp-fresh-text text-center primary noselect">FRESH SUSHI</h1>

        <h1 class="hp-fresh-text text-center secondary noselect">+</h1>

        <h1 class="hp-fresh-text text-center primary noselect">ALL YOU CAN EAT</h1>
        
        <a class="hp-reserve btn-lg text-center" href="/reserve">RESERVE A TABLE</a>
        
      </div>
    </div>
  </div>
</div>
                                                                            <!-- Section 1 End  -->
                                                                            <!-- Section 2 Start  -->
<div id="hp-section-2" class = "row full-page">
  <div class="overlay"></div>
  <div id="hp-pricing" class="row">
    <div id="hp-s2-panel1" class="col-12">
    
      <h1 id="hp-price-title">Buffet Pricing</h1>
      <h5 id="hp-price-subtitle">(See menu for full pricing list)</h5>
      
      <ul id="hp-pricinglist">

        <li class="hp-pricinglist-item">Adults:</li>
        <li class="hp-pricinglist-item">$24.99</li>
        <li class="hp-pricinglist-item">Children:</li>
        <li class="hp-pricinglist-item">$11.99</li>
        <li class="hp-pricinglist-item">Kids 3 & Under:</li>
        <li class="hp-pricinglist-item">FREE</li>

      </ul>
    </div>
  </div>
  <div id="hp-s2-panel2" class="col-12 d-none d-md-block hp-panel">
    
    <hr>

    <h1 id="hp-faves-title" class="noselect">Customer Favorites</h1>
    
    <div id="hp-img-grid" class="row">
      <div id="beep" class="col-4 hp-img-container">
        <div id="crazyroll" class="grid-img-overlay">

          <p class="grid-img-overlay-head noselect">Crazy Roll</p>

          <ul class="grid-img-overlay-body noselect">
            
            <li class="grid-img-overlay-body-text">548 Calories</li>

            <li class="grid-img-overlay-body-text">72g Carbs</li>

            <li class="grid-img-overlay-body-text">16g Fat</li>

            <li class="grid-img-overlay-body-text">19g Protein</li>

            <li class="grid-img-overlay-body-text">Inside: Spicy Assorted Fish</li>

          </ul>
        </div>

        <img class="grid-img" src="https://i.imgur.com/idLJUpP.jpg">

      </div>
      <div class="col-4 hp-img-container">
        <div id="secondfav" class="grid-img-overlay">

          <p class="grid-img-overlay-head">Snow Mountain Roll</p>

          <ul class="grid-img-overlay-body noselect">
            
            <li class="grid-img-overlay-body-text">225 Calories</li>

            <li class="grid-img-overlay-body-text">19g Carbs</li>

            <li class="grid-img-overlay-body-text">2g Fat</li>

            <li class="grid-img-overlay-body-text">12g Protein</li>

            <li class="grid-img-overlay-body-text">Inside: Snow Crab</li>

          </ul>
        </div>

        <img class="grid-img" src="https://i.imgur.com/SO08Hjp.jpg">

      </div>
      <div class="col-4 hp-img-container">
        <div class="grid-img-overlay">

          <p class="grid-img-overlay-head">Miso Ramen</p>

          <ul class="grid-img-overlay-body noselect">
            
            <li class="grid-img-overlay-body-text">500 Calories</li>

            <li class="grid-img-overlay-body-text">51g Carbs</li>

            <li class="grid-img-overlay-body-text">25g Fat</li>

            <li class="grid-img-overlay-body-text">36g Protein</li>

            <li class="grid-img-overlay-body-text">Inside: Kakuni Pork and Chicken </li>

          </ul>
        </div>

        <img class="grid-img" src="https://i.imgur.com/9aMVIer.jpg">

      </div>
    </div>

    <a id="hp-viewfullmenu" class="btn btn-lg text-center" href="/menu">FULL MENU</a>
  
  </div>
</div>
                                                                            <!-- Section 2 End  -->
                                                                            <!-- Section 3.1 Start  -->
<div id="hp-section-3" class = "row full-page">
  <div class="overlay"></div>
  <div id="hp-s3-panel1" class="col-lg-6 col-md-6 col-sm-6 d-none d-md-block hp-panel">

    <h1 class="qorc-head text-center noselect">Questions or Concerns?</h1>

    <p class="qorc-body text-center noselect">If you have any questions about our restaurant or the food we serve, please do not hesitate
       to contact us using the form on the right.</p>

    <h1 class="qorc-head text-center noselect">Location</h1>

    <p class="qorc-body text-center noselect">6231 Main Street, Stockholm NY 10385</p>

    <h1 class="qorc-head text-center noselect">COVID-19</h1>

    <p class="qorc-body text-center noselect">Your safety and wellbeing are of the utmost importance to us during this difficult time. We 
      are taking all concerns related to this very seriously and are also making sure to take all of the necessary precautions to 
      help reduce the spread. For more information please visit our <a href="/about">About</a> page.
    </p>

  </div>
                                                                            <!-- Section 3.1 End  -->
                                                                            <!-- Section 3.2 Start  -->
  <div id="hp-s3-panel2" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hp-panel">
                                                                        <!-- Home Page Contact Form Start -->
    <div id="hp-contact-form">
      <form id="hp-contact-form-inner" action="/contact" method="POST" class="form-group">

        <label for="contact-us-firstName" class="contact-form-label noselect">First Name</label>

        <input name="message[firstname]" type="text" placeholder="FIRST NAME" id="contact-us-firstName" class="form-control" aria-label="Contact us name field" required>

        <label for="contact-us-lastName" class="contact-form-label noselect">Last Name</label>

        <input name="message[lastname]" type="text" placeholder="LAST NAME" id="contact-us lastName" class="form-control" aria-label="Contact us name field" required>

        <label for="contact-us-phone" class="contact-form-label noselect">Phone Number</label>

        <input name="message[phonenumber]" type="tel" min="2222222222" max="9999999999" placeholder="888-888-8888" id="contact-us-phone" maxlength="12" class="phoneInput form-control" aria-label="Contact us phone field" required>

        <label for="contact-us-email" class="contact-form-label noselect">Email Address</label>
        
        <input name="message[email]" type="email" placeholder="username@email.com" id="contact-us-email" class="form-control" aria-label="Contact us email field" required>

        <label for="contact-us-message" class="contact-form-label noselect">Message</label>

        <textarea name="message[message]" class="form-control" id="contact-us-message" aria-label="Contact us message field"></textarea>
        
        <button type="submit" id="contact-submit" class="form-control btn btn-success">SEND</button>

        <p id="reserveinstead" class="text-center form-control noselect">Want to make a reservation? Go <a href="/reserve">here</a></p>
                                                                          <!-- Home Page Contact Form End  -->
      </form>
    </div>
  </div>
</div>
                                                                            <!-- Section 3 End  -->
<%- include('partials/footer.ejs') %>