<%- include('partials/header.ejs') %>
<div id="reserve-page" class = "row full-page">
  
  <div class="overlay"></div>

  <div id="rp-panel" class="col-lg-12 col-md-12 hp-panel">

    <h1 id="mkreserveheader">Make A Reservation</h1>

    <h2 id="mkreservebody">The form below allows you to make a reservation in advance to make sure you have a seat waiting for you upon arrival.</h2>
                                                                            <!-- Reservation Form Start -->
    <div id="rp-contact-form">
      <form id="rp-contact-form-inner" action="/reserve" method="POST" class="form-group">

        <label for="contact-us-firstName" class="contact-form-label">First Name</label>

        <input name="reservation[firstname]" type="text" placeholder="FIRST NAME" id="contact-us-firstName" class="form-control" aria-label="Contact us name field" required>

        <label for="contact-us-lastName" class="contact-form-label">Last Name</label>

        <input name="reservation[lastname]" type="text" placeholder="LAST NAME" id="contact-us lastName" class="form-control" aria-label="Contact us name field" required>

        <label for="contact-us-phone" class="contact-form-label">Phone Number</label>

        <input name="reservation[phonenumber]" type="tel" min="2222222222" max="9999999999" placeholder="888-888-8888"  id="reserve-phone" maxlength="12" class="phoneInput form-control" aria-label="Contact us phone field" required>

        <label for="contact-us-email" class="contact-form-label">Email Address</label>
        
        <input name="reservation[email]" type="email" placeholder="username@email.com" id="contact-us-email" class="form-control" aria-label="Contact us email field" required>

        <label for="contact-us-date" class="contact-form-label">Date</label>

        <input name="reservation[date]" data-date-format="dd/mm/yyyy" data-provide="datepicker" class="form-control datepicker" id="datepicker" aria-label="Reservation date field"></input>
        
        <button type="submit" id="reserve-submit" class="form-control btn btn-success">RESERVE</button>
                                                                  <!-- Reservation Form End -->
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>