                                                                        /* General Selectors */
body {
  font-family: 'Spectral';
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

.full-page {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

hr {
  border: .5px solid salmon;
  width: 30%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  position: fixed;
}

.form-group {
  margin: 0;
}

input {
  text-align: center;
}

.noselect:hover {
  cursor: default;
}

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
}

.primary {
  color: salmon;
  font-weight: 800;
}

.secondary {
  color: rgb(236, 119, 106);
  font-weight: 500;
}
                                                                    /* Navbar */
.mini-logo {
  height: 90px;
  width: 150px;
  margin-right: -50px;
  margin-left: -50px;
}

.navbar {
  height: 10vh;
  padding: 20px;
  padding-top: 1.5vh;
  width: 60vw;
  margin: 0 auto;
  background-image: url('https://i.imgur.com/PbfTFOh.jpg');
  background-size: cover;
  background-position-y: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  z-index: 3;
  box-shadow: 0 3px 2px -1px rgba(0,0,0,.2);
}

.navbar-header {
  height: 8vh;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  z-index: 2;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: salmon;
  font-weight: 800;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-default .navbar-brand {
  color: salmon;
  font-weight: 800;
  font-size: 3.5rem;
  padding: 0;
  margin-top: -20px;
  height: 70px;
  transition: all ease-in-out .4s;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.navbar-default .navbar-brand-text {
  font-family: 'Nanum Brush Script', cursive;
  color: salmon;
  font-weight: 800;
  font-size: 2vw;
  padding: 0;
  padding-top: 1vh;
  display: inline-block;
  height: 70px;
  transition: all ease-in-out .4s;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.navbar-default .navbar-brand-text:hover {
  text-decoration: none;
}

.navbar-default .navbar-brand:hover {
  color: rgb(134, 67, 67);
}

.navbar-default .navbar-nav .navi-text {
  font-weight: 600;
  padding: 0px 8px;
  font-size: 1vw;
  color: salmon;
  transition: all ease-in-out .4s;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.navbar-default .navbar-nav .navi-text:hover {
  color: rgb(145, 71, 71);
}
                                                                    /* Homepage aka HP */
.hp-panel {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#hp-section-1 {
  background-image: url('https://i.imgur.com/Hvt7yMt.jpg');
  background-size: cover;
}

#hp-s1-panel1 {
  padding-top: 10%;
}

#hp-s1-panel2 {
  padding-top: 10%;
}

#hp-s1-text {
  padding: 4vw;
  height: 80%;
  width: 70%;
  display: block;
  float: none;
  z-index: 1;
  border: 4px solid rgba(148, 93, 57, 0.582);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#hp-s1-img {
  height: 60%;
  display: block;
  float: none;
}

#hp-s2-panel1 {
  width: 100%;
}

#hp-pricing {
  width: 100%;
}

#hp-price-title {
  width: 100%;
  text-align: center;
  color: salmon;
  font-weight: 800;
  font-size: 2.5vw;
}

#hp-price-subtitle {
  width: 100%;
  text-align: center;
  color: salmon;
  font-weight: 600;
  font-size: 1vw;
}

#hp-pricinglist {
  width: 30vw;
  margin: auto;
  padding: 0px;
}

.hp-pricinglist-item {
  font-weight: 600;
  color: salmon;
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
}

#hp-faves-title {
  width: 100%;
  text-align: center;
  color: salmon;
  font-size: 2.5vw;
}

.hp-fresh-text {
  font-size: 4vw;
  font-weight: 800;
  font-family: 'Nanum Brush Script', cursive;
  margin: 0;
}

#sushi-pick {
  height: 450px;
  width: 500px;
  float: right;
  z-index: 0;
}

.hp-reserve {
  font-weight: 800;
  font-size: 1vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: .7vw;
  background-color: salmon;
  color: rgb(53, 53, 53);
  border: none;
  border-radius: 5px;
  display: block;
  height: 8vh;
  width: 8vw;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.hp-reserve:visited {
  color: rgb(53, 53, 53);
}


.hp-reserve:hover {
  background-color: rgb(211, 107, 96);
  color: rgb(134, 67, 67);
  transition: all .2s ease-in-out;
  text-decoration: none;
}

#hp-section-2 {
  background-image: url('https://i.imgur.com/gqyOnFF.jpg');
  background-size: cover;
  padding-top: 12vh;
}

#hp-img-grid {
  width: 50%;
  margin: auto;
}

.grid-img-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: all .3s ease;
}

.grid-img-overlay-head {
  color: salmon;
  margin-bottom: 1px;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}

.hp-img-container {
  margin: 0;
  padding: 0;
}

.grid-img-overlay-body {
  padding: 0;
}

.grid-img-overlay-body-text {
  width: 100%;
  font-size: 1vw;
  font-weight: 600;
  text-align: center;
  color: salmon;
}

.grid-img {
  width: 100%;
  height: 25vh;
  z-index: 1;
}

#hp-viewfullmenu {
  display: block;
  font-size: 1.5vw;
  background-color: salmon;
  color: rgb(53, 53, 53);
  width: 15vw;
  margin: auto;
  margin-top: 10px;
}

#hp-section-3 {
  background-image: url('https://i.imgur.com/DuVKnNg.jpg');
  background-size: cover;
}

#hp-s3-panel1 {
  padding-top: 10%;
}

.qorc-head {
  height: 40px;
  width: 100%;
  font-size: 2.0rem;
  font-weight: 800;
  color: salmon;
  margin-bottom: 1px;
  margin-top: 10px;
  text-decoration: underline;
}

.qorc-body {
  width: 400px;
  margin: auto;
  font-size: 1.3rem;
  font-weight: 500;
  color: salmon;
}

#hp-s3-panel2 {
  padding-top: 8%;
  padding-left: 10%;
}

input::-webkit-outer-spin-button,

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#hp-contact-form {
  box-sizing: border-box;
  display: block;
  margin: 0;
  height: 90%;
  width: 80%;
  padding: 30px;
  border: 4px solid rgba(148, 93, 57, 0.582);;
}

.contact-form-label {
  font-weight: 800;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: salmon;
}

#contact-submit {
  margin-top: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#reserveinstead {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
                                                                /* Reserve Page AKA rp */
#reserve-page {
  background-image: url('https://i.imgur.com/6nnMNJR.jpg');
  background-size: cover;
}

#rp-panel {
  padding-top: 12vh;
}

#mkreserveheader {
  width: 100%;
  text-align: center;
  color: salmon;
  font-size: 2vw;
}

#mkreservebody {
  margin: auto;
  color: salmon;
  width: 50%;
  text-align: center;
  font-size: 1.5vw;
}

#rp-contact-form {
  width: 50%;
  height: 70vh;
  margin: auto;
  border: 4px solid rgba(148, 93, 57, 0.582);
  padding: 2vw;
  margin-top: 1.5vh;
}

#datepicker {
  color: black;
}

th {
  text-align: center;
}

.datepicker {
  color: white;
}

.datepicker-dropdown {
  background-color: black;
}

.datepicker-switch {
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.datepicker-switch:hover {
  text-align: center;
  cursor: pointer;
}

.dow {
  color: white;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.day {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.day:hover {
  cursor: pointer;
}

.disabled.day {
  color: red;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.disabled.day:hover {
  cursor: not-allowed;
}

#reserve-submit {
  margin-top: 2vh;
}
                                                                        /* About Us Page aka ap */
#about-page {
  background-image: url('https://i.imgur.com/gDNbucU.jpg');
  background-size: cover;
}

#ap-panel {
  padding-top: 12vh;
}

#about-us-container {
  background-image: url('https://i.imgur.com/gImkM4O.jpg');
  background-size: contain;
  border-radius: 3px;
  width: 40vw;
  height: 85vh;
  padding: 2vw;
  display: block;
  box-sizing: border-box;
}

.about-us-header {
  width: 100%;
  color: rgb(255, 108, 92);
  text-align: center;
  font-size: 3.5vw;
  font-weight: 800;
  border: 4px solid rgba(148, 93, 57, 0.582);
}

.about-us-body {
  width: 30vw;
  height: 24vh;
  color: rgb(255, 108, 92);
  margin: auto;
  text-align: center;
  font-size: 1.2vw;
  line-height: 25px;
  font-weight: 600;
}

#ab-us-body2 {
  height: 32vh;
}
                                                                          /* Menu Page aka mp */
#menu-page {
  background-image: url('https://i.imgur.com/cay03qz.jpg');
  background-size: cover;
}

#mp-panel-1 {
  padding-top: 20vh;
  padding-left: 25vh;
  margin: auto;
}

#mp-price-list {
  margin: auto;
  text-align: center;
  padding: 0;
  line-height: 6vh;
}

#mp-price-list-title {
  color: salmon;
  width: 25vw;
  margin: auto;
  margin-bottom: 2vh;
  border: 4px solid rgba(148, 93, 57, 0.582);
  -webkit-user-select: none;
  -moz-user-select: none;
}

.mp-price-title {
  color: salmon;
  font-weight: 800;
  text-decoration: underline;
  font-size: 2.5vw;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.mp-price-body {
  color: salmon;
  font-weight: 800;
  font-size: 1.5vw;
  margin: 2vh;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#mp-panel-2 {
  padding-top: 17vh;
  padding-right: 25vh;
}

#menu-items {
  background-image: url('https://i.imgur.com/R5kUDQn.jpg');
  background-size: cover;
  margin: auto;
  width: 25vw;
  height: 75vh;
  z-index: 2;
  position: relative;
  padding-top: 4vh;
  border-radius: 4px;
}

#our-menu-title {
  color: salmon;
  font-weight: 800;
  border: 4px solid rgba(148, 93, 57, 0.582);
  -webkit-user-select: none;
  -moz-user-select: none;
}

.menu-items-list {
  text-align: center;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.63);
  line-height: 3.5vh;
}

.menu-item-title {
  font-weight: 800;
  color: salmon;
  text-decoration: underline;
  font-size: 1vw;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.menu-item {
  color: salmon;
  font-weight: 600;
  font-size: 1vw;
}
                                                                        /* Footer bar */
.footer-bar {
  background-color: rgb(148, 93, 57);
  bottom: 0;
  width: 99.92vw;
  position: relative;
  height: 10%;
}

.footer-bar-inner {
  margin: 0;
  padding: 0;
}

.footer-text {
  padding-top: 3px;
  font-weight: 600;
  color: black;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

.fab {
  font-size: 3vmax;
  color: black;
  padding: 0px 2px;
}

.media-icons {
  padding-top: 10px;
  margin: 0px;
}

                                                                    /* MOBILE RESPONSIVENESS */
 /* Extra small devices (phones, 600px and down) */
 /* @media only screen and (max-width: 600px) {...} */

 /* Small devices (portrait tablets and large phones, 600px and up) */
 /* @media only screen and (min-width: 600px) {...} */
 
 /* Medium devices (landscape tablets, 768px and up) */
 /* @media only screen and (min-width: 768px) {...} */
 
 /* Large devices (laptops/desktops, 992px and up) */
 /* @media only screen and (min-width: 992px) {...} */
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 /* @media only screen and (min-width: 1200px) {...}  */
                                                                    /* OPTIMIZATION FOR MOBILE */
@media only screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .navbar {
    width: 100vw;
  }

  .navbar-default .navbar-nav .navi-text {
    font-size: 1.5vw;
  }

  #hp-s1-panel1 {
    display: none;
  }
  #hp-s1-panel2 {
    padding-top: 30%;
  }

  #hp-s1-text {
    padding: 6vh;
    height: 90%;
    margin: auto;
    width: 70%;
    display: block;
    float: none;
    z-index: 1;
    border: 4px solid rgba(148, 93, 57, 0.582);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .hp-fresh-text {
    font-size: 3.5rem;
    margin: auto;
  }

  #hp-section-2 {
    padding-top: 30vh;
  }

  #hp-pricing {
    width: 100vw;
  }

  #hp-price-title {
    font-size: 6.5vw;
  }

  #hp-price-subtitle {
    font-size: 6.0vw;
  }

  .hp-pricinglist-item {
    font-size: 5.5vw;
  }

  .hp-reserve {
    font-weight: 800;
    font-size: .8rem;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 2vw;
    background-color: salmon;
    color: rgb(53, 53, 53);
    border: none;
    border-radius: 5px;
    display: block;
    height: 10%;
    width: 100px;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  #reserveinstead {
    height: 10%;
  }

  #hp-s3-panel2 {
    padding-left: 20%;
  }

  #about-us-container {
    width: 85vw;
  }

  .about-us-header {
    font-size: 5.5vw;
  }

  .about-us-body {
    font-size: 4vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
    width: 80vw;
  }

  #mp-mobile-s1 {
    padding-top: 15vh;
  }

  #mp-mobile-s2 {
    padding-top: 10vh;
  }

  #mp-price-list-title {
    width: 50vw;
  }

  .mp-price-title {
    font-size: 8.5vw;
  }

  .mp-price-body {
    font-size: 3.5vw;
  }

  #our-menu-title-mobile {
    color: salmon;
    font-weight: 800;
    border: 4px solid rgba(148, 93, 57, 0.582);
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  #menu-items {
    width: 90vw;
  }

  .menu-item-title {
    font-size: 3.7vw;
  }

  .menu-item {
    font-size: 3.3vw;
  }

  #mkreserveheader {
    font-size: 6.5vw;
  }

  #mkreservebody {
    font-size: 3.5vw;    
  }

  #rp-contact-form {
    height: 70vh;
  }

  .footer-bar {
    height: 10vh;
  }

  .footer-bar-inner {
    height: 50px;
  }

  .media-icons {
    height: 10px;
  }

  .social-icon-holder {
    height: 29px;
  }

  .footer-text {
    height: 20px;
  }
}
                                                                /* OPTIMIZATION FOR EXTRA-LARGE SCREENS */
@media only screen and (min-width: 2500px) {
  .hp-reserve {
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  #hp-s1-text {
    padding: 6vw;
  }

  #hp-contact-form {
    padding-top: 10vh;
  }

  #hp-s3-panel1 {
    padding-top: 23vh;
  }

  #rp-contact-form {
    padding-top: 10vh;
  }
}

@media only screen and (min-width: 2500px) {
  .navbar-default .navbar-brand-text{
    padding-top: 2vh;
  }

  .navbar-default .navbar-nav .navi-text{
    font-size: 1.4rem;
  }

  .dropdown-menu {
    font-size: 1.5rem;
  }
  
  #sushi-pick{
    height: 800px;
    width: 850px;
  }

  .contact-form-label{
    font-size: 2.5rem
  }

  .about-us-body{
    line-height: 45px;
  }


}