body {
  font-family: 'Spectral';
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  position: fixed;
}

input {
  text-align: center;
}

.noselect:hover {
  cursor: default;
}

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
}

.primary {
  color: salmon;
  font-weight: 800;
}

.secondary {
  color: rgb(236, 119, 106);
  font-weight: 500;
}

.mini-logo {
  height: 90px;
  width: 150px;
  margin-right: -50px;
  margin-left: -50px;
}

.navbar {
  height: 10vh;
  padding: 20px;
  padding-top: 1.5vh;
  width: 800px;
  margin: 0 auto;
  background-image: url('http://localhost:3000/pictures/wooden-bg.jpg');
  background-size: cover;
  background-position-y: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  z-index: 3;
  box-shadow: 0 3px 2px -1px rgba(0,0,0,.2);
}

.navbar-nav .dropdown-menu {
  position: absolute;
  z-index: 2;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: salmon;
  font-weight: 800;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-default .navbar-brand {
  color: salmon;
  font-weight: 800;
  font-size: 3.5rem;
  padding: 0;
  margin-top: -20px;
  height: 70px;
  transition: all ease-in-out .4s;
}

.navbar-default .navbar-brand-text {
  font-family: 'Nanum Brush Script', cursive;
  color: salmon;
  font-weight: 800;
  font-size: 2.0rem;
  padding: 0;
  padding-top: 4px;
  display: inline-block;
  height: 70px;
  transition: all ease-in-out .4s;
}

.navbar-default .navbar-brand-text:hover {
  text-decoration: none;
}

.navbar-default .navbar-brand:hover {
  color: rgb(134, 67, 67);
}

.navbar-default .navbar-nav .navi-text {
  font-weight: 600;
  padding: 0px 8px;
  font-size: 1.0rem;
  color: salmon;
  transition: all ease-in-out .4s;
}

.navbar-default .navbar-nav .navi-text:hover {
  color: rgb(145, 71, 71);
}

.full-page {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hp-panel {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#hp-section-1 {
  background-image: url('http://localhost:3000/pictures/dojo-bg.jpg');
  background-size: cover;
}

#hp-s1-panel1 {
  padding-top: 10%;
}

#hp-s1-panel2 {
  padding-top: 10%;
}

#hp-s1-text {
  padding: 4vw;
  height: 80%;
  width: 70%;
  display: block;
  float: none;
  z-index: 1;
  border: 4px solid rgba(148, 93, 57, 0.582);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#hp-s1-img {
  height: 60%;
  display: block;
  float: none;
}

#hp-s2-panel {
  padding-top: 6%;
}

#hp-faves-title {
  width: 100%;
  text-align: center;
  color: salmon;
}

.hp-fresh-text {
  font-size: 4vw;
  font-weight: 800;
  font-family: 'Nanum Brush Script', cursive;
  margin: 0;
}

#sushi-pick {
  height: 450px;
  width: 500px;
  float: right;
  z-index: 0;
}

.hp-reserve {
  font-weight: 800;
  font-size: 1vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 1vw;
  background-color: salmon;
  color: rgb(53, 53, 53);
  border: none;
  border-radius: 5px;
  display: block;
  height: 8vh;
  width: 8vw;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.hp-reserve:visited {
  color: rgb(53, 53, 53);
}


.hp-reserve:hover {
  background-color: rgb(211, 107, 96);
  color: rgb(134, 67, 67);
  transition: all .2s ease-in-out;
  text-decoration: none;
}

#hp-section-2 {
  background-image: url('http://localhost:3000/pictures/buffet-bg.jpg');
  background-size: cover;
}

#hp-img-grid {
  width: 50%;
  margin: auto;
}

.grid-img-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: all .3s ease;
}

.grid-img-overlay-head {
  color: salmon;
  margin-bottom: 1px;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}

.hp-img-container {
  margin: 0;
  padding: 0;
}

.grid-img-overlay-body {
  padding: 0;
}

.grid-img-overlay-body-text {
  width: 100%;
  font-size: 1vw;
  text-align: center;
  color: salmon;
}

.grid-img {
  width: 100%;
  z-index: 1;
}

#hp-viewfullmenu {
  display: block;
  font-size: 1.5vw;
  background-color: salmon;
  color: rgb(53, 53, 53);
  width: 15vw;
  margin: auto;
  margin-top: 4px;
}

#hp-section-3 {
  background-image: url('http://localhost:3000/pictures/contact-bg.jpg');
  background-size: cover;
}

#hp-s3-panel1 {
  padding-top: 10%;
}

.qorc-head {
  height: 40px;
  width: 100%;
  font-size: 2.0rem;
  font-weight: 800;
  color: salmon;
  margin-bottom: 1px;
  margin-top: 10px;
  text-decoration: underline;
}

.qorc-body {
  width: 400px;
  margin: auto;
  font-size: 1.3rem;
  font-weight: 500;
  color: salmon;
}

#hp-s3-panel2 {
  padding-top: 8%;
  padding-left: 10%;
}

input::-webkit-outer-spin-button,

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#hp-contact-form {
  box-sizing: border-box;
  display: block;
  margin: 0;
  height: 90%;
  width: 80%;
  padding: 30px;
  border: 4px solid rgba(148, 93, 57, 0.582);;
}

.form-group {
  margin: 0;
}

.contact-form-label {
  font-weight: 800;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: salmon;
}

#contact-submit {
  margin-top: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#reserveinstead {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#rp-panel {
  padding-top: 10%;
}

#mkreserveheader {
  width: 100%;
  text-align: center;
}

#rp-contact-form {
  width: 50%;
  margin: auto;
}

.datepicker {
  color: green;
}

.datepicker-dropdown {
  background-color: black;
}

.dow {
  color: white;
}

.day {
  color: green;
}

.disabled.day {
  color: orange;
}

.footer-bar {
  background-color: rgb(148, 93, 57);
  bottom: 0;
  width: 99.92vw;
  position: relative;
  height: 10%;
}

.footer-bar-inner {
  margin: 0;
  padding: 0;
}

.footer-text {
  padding-top: 3px;
  font-weight: 600;
  color: black;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

.fab {
  font-size: 3rem;
  color: black;
  padding: 0px 2px;
}

.media-icons {
  padding-top: 10px;
}

                                                                    /* MOBILE RESPONSIVENESS */
 /* Extra small devices (phones, 600px and down) */
 /* @media only screen and (max-width: 600px) {...} */

 /* Small devices (portrait tablets and large phones, 600px and up) */
 /* @media only screen and (min-width: 600px) {...} */
 
 /* Medium devices (landscape tablets, 768px and up) */
 /* @media only screen and (min-width: 768px) {...} */
 
 /* Large devices (laptops/desktops, 992px and up) */
 /* @media only screen and (min-width: 992px) {...} */
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 /* @media only screen and (min-width: 1200px) {...}  */

@media only screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }

  #hp-s1-panel1 {
    display: none;
  }
  #hp-s1-panel2 {
    padding-top: 30%;
  }

  #hp-s1-text {
    padding: 6vh;
    height: 90%;
    margin: auto;
    width: 70%;
    display: block;
    float: none;
    z-index: 1;
    border: 4px solid rgba(148, 93, 57, 0.582);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .hp-fresh-text {
    font-size: 3.5rem;
    margin: auto;
  }

  .hp-reserve {
    font-weight: 800;
    font-size: .8rem;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 2vw;
    background-color: salmon;
    color: rgb(53, 53, 53);
    border: none;
    border-radius: 5px;
    display: block;
    height: 10%;
    width: 100px;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  #reserveinstead {
    height: 10%;
  }

  #hp-s3-panel2 {
    padding-left: 20%;
  }

  .footer-bar {
    height: 50px;
  }

  .footer-bar-inner {
    height: 50px;
  }

  .media-icons {
    height: 10px;
  }

  .social-icon-holder {
    height: 10px;
  }

  .footer-text {
    height: 20px;
  }
}